*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 3;
    gap: 12px;
}

body{
    background-image: url(honeypic.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
  }

.navigation li{
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover{
    background-color: black;
}




